body {
	background-color: pink;
}

.game-board {
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 400px;
	margin: 20px auto;
	border: 1px solid black;
}

.game-row {
	background-color: rgb(91, 91, 221);
	display: flex;
	flex: 1;
}

.game-cell {
	background-color: lightblue;
	flex: 1;
	border: 1px solid black;

}

.game-cell:hover {
	background-color: lightcoral;
}

.highlight-ship {
	background-color: rebeccapurple;
}

.highlight-ship-attacked {
	background-color: red;
}

.highlight-ship:hover {
	background-color: rebeccapurple;
}

.highlight-missed-shot {
	background-color: yellow;
}

.highlight-ship-sunk {
	background-color: rgb(51, 29, 0);
}